body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header{
background-color: black;
height: 65px;
border-radius: 5px;
font-weight: 600;
border: solid 2px rgb(33, 220, 245);

}
.imgc {
  position: relative;
  margin-top: 0%;
  margin-trim: 100%;
  
  
 

}

a {
    text-decoration: none;
    color: rgb(7, 97, 109);

    
}
 
nav li{
    display: inline;
    position: relative;
    letter-spacing: 0,5px;
    margin: 0 0 0 15px;
    top: 30px;
    left: 60%; 
}

a:hover {
    color: #42faee;
}
.avatar {
  border-radius: 50%; 
  position: absolute;
  left: 30%;
  top: 15px;
  border: solid 2px rgb(33, 220, 245);
}
.avatar2 {
    border-radius: 50%; 
    position: relative;
    left: 30%;
    top: 22px;
    border: solid 2px rgb(33, 220, 245);
  }

  .avatar2 {
    border-radius: 50%; 
    position: relative;
    left: 30%;
    top: 28px;
    border: solid 2px rgb(33, 220, 245);

  }

  .avatar3 {
        border-radius: 50%; 
        position: relative;
        left: 29%;
        top: -10px;
        border: solid 2px rgb(33, 220, 245);

        }


   .avatar4 {
            border-radius: 50%; 
            position: relative;
            left: 36%;
            top: -47px;
            border: solid 2px rgb(33, 220, 245);
        }

   .avatar5 {
            border-radius: 50%; 
            position: relative;
            left: 42%;
            top: -149px;
            border: solid 2px rgb(33, 220, 245);    
   }        

  .sobre1{
    width: 600px;
    position: relative;
    left: 35%;
    top: -110px;
    text-align: justify;
    
  }
.formacao {
  width: 600px;
    position: relative;
    left: 35%;
    top: 0px;
}
.formacaos{
  background-color: darkgray;
    position: relative;
    border: solid 2px rgb(33, 220, 245) ;
    border-radius: 5px;
    
}
.experience {
  border: solid 2px;
  border-color: rgb(33, 220, 245);
  border-radius: 5px;
}
.unica1 {
  position: relative;
  left: 1%;
  padding-right: 5%;
  text-align: justify;
}
.unica2 {
  position: relative;
  left: 1%;

}

.card1{
  background-color: darkgray;
  position: relative;
  border: solid 2px rgb(33, 220, 245) ;
  border-radius: 5px;

}
.card3 {
  width: 300px;
  position: relative;
  left: 40%;
}
.repositorio {
  background-color: black;
  border:solid 2px;
  border-radius: 5px;
  border-color: rgb(33, 220, 245);
 
}
.repositorio:hover {
  color: #fff;
}
.boton1{
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}

.feet {
  background-color: black;
  color: #fff;
  position: relative;
  left: 0%;
  border: solid 2px;
  border-color: rgb(33, 220, 245);
  border-radius: 5px;

}

.contato {
  position: relative;
  left: 2%;
  padding-right: 10%;
  border-color: rgb(33, 220, 245)

}
.contatos {
  position: relative;
  padding-right: 10%;
  border-color: rgb(33, 220, 245)

}

.card__imagenf {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 0 0 5px;
  border-radius: 50%;
  display: inline-flex;
   
}

.card2{
position: relative;
height: 450px;  
width: 200px;
position: relative;
left: 50%;
top: -200%;
}

.card__info {
  position: relative;
  height: 450px;  
  width: 400px;
  position: relative;
  left: 50%;
  display:contents;
  letter-spacing: 1px;
  } 